.container {
    position: relative;
    padding-top: 100px;
    padding-left: 200px;
}

.content {
    position: relative;
    width: 600px;
    height: 350px;
}

.img-three {
    width: 570px;
    height: 300px;
    position: absolute;
    bottom: 0;
    left: 15px;
    opacity: 0.1;
    background-color: #000001;
}

.img-two {
    width: 585px;
    height: 300px;
    position: absolute;
    z-index: 1;
    bottom: 25px;
    left: 7px;
}

.img-one {
    width: 600px;
    height: 300px;
    position: absolute;
    z-index: 2;
}

.drop-area-top {
    position: absolute;
    top: 70px;
    width: 600px;
    height: 30px;
    background-color: red;
}

.drop-area-right {
    position: absolute;
    left: 800px;
    top: 100px;
    width: 30px;
    height: 350px;
    background-color: red;
}

.drop-area-bottom {
    position: absolute;
    top: 450px;
    width: 600px;
    height: 30px;
    background-color: red;
}

.drop-area-left {
    position: absolute;
    left: 170px;
    top: 100px;
    width: 30px;
    height: 350px;
    background-color: red;
}