<div>
    <label for="_keyword">过滤条件:</label>
    <input type="text" id="_keyword" placeholder="Please input anything to filter, e.g. topic, poster, date created."
           ng-model="vm.filter.$">
</div>

<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th>Topic</th>
        <th>Poster</th>
        <th>dataCreated</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in vm.items | filter : vm.filter">
        <td>{{item.title}}</td>
        <td>{{item.poster}}</td>
        <td>{{item.dateCreated | date : 'yyyy-MM-dd HH:mm'}}</td>
    </tr>
    </tbody>
</table>